.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hsl(180, 13%, 18%);
  align-items: center;
  justify-content: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(180, 13%, 18%);
  height: 10vh;
  max-width: 90vw;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-body {
  max-width: 760px;
  min-height: 87vh;
  max-height: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
  overflow-y: "auto";
}

.App-footer {
  background-color: hsl(180, 13%, 18%);
  height: 3vh;
  max-width: 90vw;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-body-main {
  background-color: hsl(180, 13%, 40%);
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Image-holder {
  width: 760px;
  height: 400px;
  display: flex;
  background: rgb(200, 200, 200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Command-row {
  background-color: hsl(180, 13%, 40%);
  min-width: 100%;
  max-width: 100%;
  font-size: 11pt;
  min-height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Scrollable {
  max-height: 30vh;
  width:100%;
  overflow-y: scroll;
}

.Color-row {
  background-color: hsl(180, 13%, 40%);
  min-width: 100%;
  max-width: 100%;
  font-size: 11pt;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Color-entry-a {
  height:100%;
  width: 5%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Color-entry-b {
  height:100%;
  width: 20%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Color-entry-c {
  height:100%;
  width: 70%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Command-button {
  min-width: 100%;
  max-width: 100%;
  font-size: 11pt;
}

.Command-holder {
  
  max-height: 10vh;
  width:100%;
  overflow-y: scroll;

  display: flex;
  background: rgb(32, 32, 32);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 11pt;
  overflow: hidden;
  word-break: break-word;
  text-align: left;
  overflow-y: scroll;
}

.Image {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.Grid {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.Grid-row {
  width: 320px;
  height: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

/* unvisited link */
a:link {
  color: rgb(240, 240, 240);
}

/* visited link */
a:visited {
  color: rgb(240, 240, 240);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
}

/* selected link */
a:active {
  color: rgb(224, 224, 224);
}
